@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(3, 3, 3);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.img__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__wrapper img {
  width: 110px;
  height: 110px;
}

.logo__title {
  position: relative;
  top: 14px;
  left: -15px;
  color: white;
  font-size: 30px;
}


#landing {
  min-height: 10vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 110px;
  padding: 0 20px;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin-right: 50px;
  letter-spacing: 0.7px;
}

.primary__link {
  letter-spacing: 1.5px;
  font-size: 15px;
  border: 2px solid #fff;
  background-color: #fff;
  color: black;
  padding: 12px 40px;
  border-radius: 50px;
  transition: all 300ms ease;
}

.primary__link:hover {
  background-color: rgb(214, 214, 7);;
  border: 2px solid rgb(214, 214, 7);;
  color: white;
}


/* 

  LANDING PAGE

*/


.header__content {
  margin-top: 40px;
  text-align: center !important;
  /* width: 100%; */
}

.title {
  color: #fff;
  font-size: 45px;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .1em;
  font-weight: 500;
  line-height: 1.25;
}


.input__wrapper {
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  left: 30%;
}

input {
  padding: 1px 2px 1px 20px;
  background-color: #fff;
  border: none;
  width: 100%;
  max-width: 800px;
  height: 60px;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 20px;
}

button {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 0 20px 0 8px;
  color: #a70000;
  background: transparent;
  font-size: 32px;
  border: none;
  transition: all 300ms ease;
}

button:hover {
  color: rgb(214, 214, 7);;
}

.fa-search {
  background: transparent;
}


.movies__header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.section__title {
  color: white;
  font-size: 35px;
}

.movies__header--title {
  margin-bottom: 0;
}

.yellow {
  color: rgb(214, 214, 7);
}

#filter {
  background-color: white;
  padding: 10px;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

/*

Movies 

*/

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}

.movie-list {
  margin-top: 50px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: calc(100% / 3);
  box-shadow: inset -1px 1px 10px 3px rgb(245 245 245 / 60%);
  opacity: 1;
  display: none;
}

.movie:active {
  opacity: 1;
}

.movie-card {
  max-width: 380px;
  box-shadow: 0 4px 8px 0 rgba(245, 245, 245, 0.597);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.movie-card:hover {
  box-shadow: -1px -3px 8px 5px rgb(255 255 255 / 60%);
  scale: 1.1;
}

.movie-card__container {
  padding: 20px 30px;
  color: white;
  border-radius: 10px;
}

.movie__img--wrapper {
  border-radius: 4px;
  overflow: hidden;
}

.movie__img {
  width: 100%;
  max-width: 380px;
  max-height: 380px;
  transition: all 300ms ease;
  object-fit: contain;
}

h2  {
  font-size: 25px;
  padding-top: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 20px;
  margin-top: 10px;
}

.imdb {
  background-color: yellow;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 12px;
  color: #242424;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  max-width: 100px;
  text-align: center;
  transition: all 300ms ease;
  margin-bottom: 30px;
}

.imdb:hover {
  background-color:rgba(255, 255, 0, 0.585);
}